/** globel varible **/

$fontSize: 10px;
/** font-color **/
$orange: #ff6336;
$black: #444444;
$grey: #939393;
$lightOrang: #ffa336;
$purple: #CF6BFF;
$green: #0AB763;
$bule: #36ADFF;

/**font-size**/
$f12: 1.2rem;
$f13: 1.3rem;
$f14: 1.4rem;
$f15: 1.5rem;
$f18: 1.8rem;
$f22: 2.2rem;
$f28: 2.8rem;


/** globel varible **/

